* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

.column {
  width: 48%;
  margin: .5%;
  border: 1px solid #000;
  vertical-align: top;
  padding: 1em;

  &.left {
    float: left;
  }
  &.right {
    float: right;
    overflow-x: auto;
  }
}

#imageContainer {
  margin-bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    position: relative;
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}

#generateButton {
  display: none;
}

.buttons {
  display: none;
  padding: 1em;

  .button {
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
}

body.image-loaded {
  .buttons {
    display: flex;
  }

  #generateButton {
    display: inline-block;
  }
}
